@use "../abstracts" as *;

.av-card {
  background: $white;
  border-radius: $radius-lg;
  box-shadow: $shadow-sm;
  overflow: hidden;
  transition: .3s;
}

.av-card:hover {
  transform: translateY(-8px);
  box-shadow: $shadow-md;
}

.av-card__header { padding: 24px; }
.av-card__body { padding: 24px; }

.av-card__footer {
  padding: 20px 24px;
  border-top: 1px solid $gray-200;
}
