@use "../abstracts" as *;

.av-search {
  background: $white;
  padding: 30px;
  border-radius: $radius-xl;
  box-shadow: $shadow-md;
  margin-top: 40px;
}

.av-search__tabs {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}

.av-search__form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
