@use "../abstracts" as *;

.av-topbar {
  height: 42px;
  background: $primary;
  color: $white;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.av-topbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.av-topbar__left {
  display: flex;
  gap: 20px;
}
