@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition {
  transition: all .3s ease;
}

@mixin glass {
  background: rgba(255, 255, 255, .75);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
