.av-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 30px;
}

.av-col-12 { grid-column: span 12; }
.av-col-6 { grid-column: span 6; }
.av-col-4 { grid-column: span 4; }
.av-col-3 { grid-column: span 3; }
